section, header, footer {
   
    border: 2px black solid;
    padding: 10px; /*amount of space that should appear between the content of an element and the element border.*/
    min-height: 60px;
    margin:10px; 
    /*space between an HTML element and the surrounding element.*/
}

.grayBackground {
    background-color: #F0F2F1 !important;  /* he CSS author would like to ensure that font color is red and that no other author CSS files change that:*/
}

.tanBackground {
    background-color: #D4C0A7;
}

.purpleBackground {
    background-color: #B2A4A1;
}
header.purpleBackground {
    font-weight: bold;
    font-size: 2em;
    text-align: center;
}

header.purpleBackground > h1 {
    font-family : 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

section.grayBackground {
    color: #938373;
}

section p {
  font-family: monospace;
}
section > p {
  font-weight: bold;
}
section > article > aside > p {
  font-weight: bold;
}
section > article p {
  font-style: italic;
}
section > article >aside> p:last-child {
font-weight: bold;
font-size:large;
font-style:oblique;
}

article {
    font-weight: bold;
}

article.spacer {
    padding: 15px;
    margin: 25px;
    border: thin lightgray solid;
}

.babyBlueBackground {
    background-color: #57BCF4;
}




.blackBackground {
    background-color: #242730;
}

.babyBlueText {
    color: #57BCF4;
}

section.purpleText {
    color: #923C9B;
}

article.purpleText {
    color: #461559;
}

article.simpleBorder {
    border: thick;
    border-color: #69D2E7;
    border-style: solid;
}

article.complexBorder {
    border-width: 15px;
    border-color: #F38630;
    border-style: inset solid;
}

article.shortBorder {
    border: 25px #FA6900 dotted;
    background-color: #E0E4CC;
}
