section, header, footer {
    margin: 20px;
    border: 2px black solid;
    padding: 10px;
    min-height: 60px;
}

.grayBackground {
    background-color: #F0F2F1;
}

.tanBackground {
    background-color: #D4C0A7;
}

.purpleBackground {
    background-color: #B2A4A1;
}
header.purpleBackground {
    font-weight: bold;
    font-size: 2em;
    text-align: center;
}

header.purpleBackground > h1 {
    font-family : 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

section.grayBackground {
    color: #938373;
}

section p {
  font-family: monospace;
}
section > p {
  font-weight: bold;
}
section > article > aside > p {
  font-weight: bold;
}
section > article p {
  font-style: italic;
}
section > article >aside> p:last-child {
font-weight: bold;
font-size:large;
font-style:oblique;
}